@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Arimo);

/*html{
  height: 100%;
}*/
body{
  max-width: 1300px;
  /*max-height: 2000px;*/
  background: #ddd;
  /*background-image: url("aboutImg/stripeBackground.png");*/
}

header{
  width: 89%;
  min-width: 350px;
  height: 90px;
  background-color: #f43333 ;
  margin-left: 20px;
  margin-right: 20px;
}
header img{
  width: 120px;
  height: 80px;
  margin-left: 5px;
  margin-top: 8px;
}
header img:hover{
  cursor: pointer;
}
#pokeLogo{
  width: 350px;
  height: 80px;
  padding-left: 105px;
  position: absolute;
  right: 40%;
  cursor: default;
}
@media screen and (max-width: 850px) {
  #pokeLogo{
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #pokeLogo{
    position: absolute;
    left: 320px;
  }
}
/* below 160px */
@media screen and (max-width: 160px) {
  header img{
    width: 90px;
    height: 60px;
    margin-top: 25px;
  }
}

.carousel{
  width: 89%;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.carousel img{
  /*float: left;*/
  width: 100%;
  min-width: 350px;
}

#face1Data, #face2Data, #face3Data{
  width: 89%;
  padding-left: 5px;
  font-family: 'Arimo';
  font-size: 1.2em;
}
b{
  font-size: 2em;
  color: #1b60f7;
  font-family: 'Bangers';
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: yellow;
}

#faceClick1{
  border: 3px dashed red;
  /*display: inline;*/
  height: 30%;
  width: 15%;
  cursor: pointer;
  position: relative;
  bottom: 20%;
  left: 42%;
}
#faceClick2{
  border: 3px dashed red;
  /*display: inline;*/
  height: 30%;
  width: 15%;
  cursor: pointer;
  position: relative;
  bottom: 20%;
  left: 65%;

}
#faceClick3{
  border: 3px dashed red;
  /*display: inline;*/
  height: 30%;
  width: 15%;
  cursor: pointer;
  position: relative;
  bottom: 30%;
  left: 17%;
}

footer{
  height: 100px;
  width: 89%;
  background-image: url("aboutImg/footerGrass.png");
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden
  /*clear: both;*/
}
footer img{
  height: 95px;
  width: 95px;
  padding-left: 15px;
}
#animate {
  position: relative;
}
@media screen and (max-width: 409px) {
  footer{
    width: 350px;
  }
  .carousel{
    width: 345px;
  }
}
