@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Arimo);

body{
  background: #ddd;
  margin-left: 30px;
  margin-right: 30px;
}

header{
  width: 89%;
  min-width: 350px;
  height: 90px;
  background-color: #f43333 ;
  margin-left: 20px;
  margin-right: 20px;
}
header img{
  width: 120px;
  height: 80px;
  margin-left: 5px;
  margin-top: 8px;
}
header img:hover{
  cursor: pointer;
}
#pokeLogo{
  width: 350px;
  height: 80px;
  margin-left: 105px;
  position: absolute;
  right: 40%;
  cursor: default;
}
@media screen and (max-width: 890px) {
  #pokeLogo{
    display: none;
  }
}
/* below 160px */
@media screen and (max-width: 160px) {
  header img{
    width: 90px;
    height: 60px;
    margin-top: 25px;
  }
}
.carousel{
  width: 89%;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.carousel img{
  width: 100%;
  min-width: 350px;
}

#face1Data, #face2Data, #face3Data{
  width: 89%;
  padding-left: 5px;
  font-family: 'Arimo';
  font-size: 1.2em;
}
b{
  font-size: 2em;
  color: #1b60f7;
  font-family: 'Bangers';
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: yellow;
}

.container{
  /*border: solid 1px blue;*/
  width: 65%;
  text-align: center;
  float: left;
  text-align: center;
  margin-left: 19%;
  margin-bottom: 10px;
}
.container button{
  display: inline-block;
  margin-top: 5px;
  margin-right: 10%;
  padding: 25px 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-image: url("aboutImg/buttonImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190% 260%;
}
#faceClicke1{
  float:left;
}
#faceClicke2{
  float:right;
}
.container span {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 30%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}
.container button:hover span {
  visibility: visible;
  opacity: 1;
  font-family: 'Bangers', sans-serif;
  font-size: 20px;
}
.container button:hover{
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
  cursor: help;
  box-shadow: 5px 10px 20px #ffbb3d;
}

footer{
  height: 100px;
  width: 89%;
  background-image: url("aboutImg/footerGrass.png");
  margin-top: 1px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden
}
footer img{
  height: 95px;
  width: 95px;
  padding-left: 15px;
}
#animate {
  position: relative;
}
@media screen and (max-width: 480px) {
  footer{
    width: 350px;
  }
  .carousel{
    width: 345px;
  }
  header{
    width: 350px;
  }
}
