/** {
  border: 1px solid black;
}*/

h1 a img {
  width: 99%;
}

h1 {
  background-image: url(aboutImg/footerGrass.png);
  margin: 0 auto;
  background-color: white;
  max-width: 60%;
  border-radius: 1em;
  pointer-events: none;
  margin-bottom: 1%;
  /*border-style: ridge;
  border-width: thick;*/
}

h2 {
  text-align: center;
}

body {
  background-image: url(aboutImg/footerGrass.png);
}

a {
  display: block;
  margin-right: 1%;
  text-align: right;
}

header {
  text-align: center;
}

div input {
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  outline: none;
}

button {
  background: linear-gradient(red, white);
  width: 15em;
  height: 3em;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  outline: none;
}

#poke-search {
  width: 50%;
  height: 3em;
  background-color: black;
  margin-bottom: 0.5em;
  border-style: ridge;
  border-width: thick;
}

#poke-search[type="text"] {
  font-size: 3vw;
  text-align: center;
  color: grey;
}

section img {
  max-width: 100%;
  border-radius: 30%;
}

#pokeSprite img {
  display: block;
  margin: 0 auto;
}

#pokeTypes li {
  border: 1px solid black;
  padding: 5px;
}

ul li {
  list-style: none;
  display: inline-block;
}

.stats {
  margin-right: 2em;
}

#pokeSprite {
  display: block;
  margin: 0 auto;
}

footer a {
  display: block;
  text-align: center;
}

footer {
  background-image: url(aboutImg/footerGrass.png);
  height: 30px;
}

#pokeName {
  text-transform: capitalize;
}

#pokeDiv {
  display: inline-block;
  margin-left: 15%;
  width: 30%;
}

@media screen and (max-width: 686px) {
  #pokeDiv {
    display: block;
    margin: 0 auto;
    min-width: 300px;
  }
}

.chartContainer {
  height: 100%;
  width: 100%;
}
