* {
  border: 1px solid black;
}

h1 a img {
  width: 99%;
}

h1 {
  margin: 0 auto;
  background-color: green;
  max-width: 60%;
  border-radius: 1em;
  pointer-events: none;
  margin-bottom: 1%;
  border-style: ridge;
  border-width: thick;
}

h2 {
  text-align: center;
}

body {
  background-color: #ddd;
}

a {
  display: block;
  margin-right: 1%;
  text-align: right;
}

header {
  text-align: center;
}

div input {
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  outline: none;
}
button {
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  outline: none;
}

#poke-search {
  width: 50%;
  height: 3em;
  background-color: black;
  margin-bottom: 0.5em;
  border-style: ridge;
  border-width: thick;
}

#poke-search[type="text"] {
  font-size: 3vw;
  text-align: center;
  color: grey;
}

section img {
  max-width: 30%;
  border-radius: 100%;
  float: right;
}

#pokeSprite img{
  display: block;
  margin: 0 auto;
}

#pokeTypes li {
  border: 1px solid black;
  padding: 5px;
}

ul li {
  list-style: none;
  display: inline-block;
}

.stats {
  margin-right: 2em;
}

#pokeDescription {
  margin-top: 1em;
  margin-right: 7em;
  float: right;
  max-width: 25%;
}

footer a {
  display: block;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#pokeName {
  text-transform: capitalize;
}
#pokeDiv {
  display: inline-block;
  margin: 0 auto;
}
