@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
  background-image: url(aboutImg/footerGrass.png);
}

h1 a img {
  width: 99%;
}

h1 {
  background-image: url(aboutImg/footerGrass.png);
  margin: 0 auto;
  background-color: white;
  max-width: 60%;
  border-radius: 1em;
  pointer-events: none;
  margin-bottom: 1%;
}

h2 {
  text-align: center;
}

.active li {
  display: inline-block;
  width: 6em;
  margin-left: 1em;
}

nav {
  text-align: center;
  background-image: url(aboutImg/footerGrass.png);
  height: 30px;
}

a {
  display: block;
  margin-right: 1%;
  text-align: right;
}

header {
  text-align: center;
}

div input {
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  outline: none;
}

button {
  background: linear-gradient(red, white);
  width: 15em;
  height: 3em;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  outline: none;
}

#poke-search {
  width: 50%;
  height: 3em;
  background-color: #ffe4b2;
  margin-bottom: 0.5em;
  border-style: ridge;
  border-width: thick;
}

#poke-search[type="text"] {
  font-size: 3vw;
  text-align: center;
  color: grey;
}


#pokeSprite img {
  display: block;
  margin: 0 auto;
}

#pokeTypes li {
  border: 1px solid black;
  padding: 5px;
}

ul li {

  list-style: none;
  display: inline-block;

}

.stats {
  margin-right: 2em;
}

#pokeSprite {
  display: block;
  margin: 0 auto;
  width: 200px;
}

#pokeName {
  text-transform: capitalize;
}

#pokeDiv {
  display: inline-block;
  margin-left: 15%;
  width: 30%;
}

@media screen and (max-width: 686px) {
  #pokeDiv {
    display: block;
    margin: 0 auto;
    min-width: 300px;
  }
}

.chartContainer {
  height: 100%;
  width: 100%;
}

.toggle-nav {
  display: none;
}

.menu a{
  font-family: 'Bangers';
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: blue;
}

@media screen and (min-width: 860px) {
  .menu {
    width: 100%;
    padding: 10px;

  }
}

.menu ul {
  display: inline-block;
}

.menu li {
  margin-right: 9em;
  list-style: none;
  font-size: 25px;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
  color: yellow;
}

@media screen and (max-width: 860px) {
  .menu {
    position: absolute;
    top:0;
    left: 0;
    display: inline-block;

  }
  .menu ul.active {
    display: none;
  }
  .menu ul {
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 18px;
    border-radius: 3px;
  }
  .menu li {
    width: 50%;
  }
  .toggle-nav {
    padding: 20px;
    float: left;
    display: inline-block;
    border-radius: 3px;
    font-size: 30px;
  }
